.burger-menu{
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    padding-right: 10px;
    align-self: center;
    gap: 4px;
    grid-column: 4;
}

.burger-menu .burger-bar{
    display: flex;
    width: 25px;
    height: 3px;
    background-color: #fff;
    border-radius: 2px;
    box-shadow: 1px 1px #000;
}

.burger-menu-active{
    display: flex !important;
    position: fixed;
    right: 20px;
    top: 35px;
    border-radius: 5px;
    padding: 5px;
    margin-top: 3px;
    border: 1px solid darkgray;
    box-shadow: 1px 1px #000;
}

.burger-menu-active>.menu{
    display: flex;
    flex-direction: column;
    text-align: end;
}

.burger-bar{
    transition: 0.25s;
}

.burger-open .burger-bar:nth-child(1){
    transform: translateY(6.5px) rotate(45deg);
}
.burger-open .burger-bar:nth-child(2){
    /* display: none;   */
    opacity: 0;
}
.burger-open .burger-bar:nth-child(3){
    transform: translateY(-6.5px) rotate(-45deg);
}