.head{
    background-color: #999;
    flex-direction: column;
    background-image: url('../img/0.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    color: #fff;
    background-blend-mode: luminosity;
}

.container-h1{
    height: 4em;
    position: sticky;
    top: 10px;
    margin: 50px;
}

h1{
    /* position: sticky; */
    /* top: 10px; */
    /* font-size: 8vw; */
    font-size: 4em;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    /* margin: 50px; */
    text-shadow: 2px 2px #000;
    transition: 0.5s;
}

.head span{
    color: #ff0000;
}

.head h1 span>span{
    text-transform: lowercase;
}

.head p{
    margin-top: 50px;
    text-shadow: 2px 2px #000;
}

.head h1{
    animation: skew 5s linear infinite;

}

@keyframes skew{
    from{
        transform: skewX(0deg);
    }
    25%{
        transform: skewX(-3deg);
    }

    75%{
        transform: skewX(3deg);
    }
    to{
        transform: skewX(0deg);
    }
}