

.portfolio{
    background-color: #999;
    flex-direction: column;
    justify-content: space-around;
    height: 100vh;
}

.portfolio .p-container{
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

.portfolio h2{
    color: red;
    text-shadow: 1px 1px #000, 2px 0px #fff, -2px 0px #fff, 0px 2px #fff, 0px -2px #fff;
}

.portfolio p{
    margin-bottom: 20px;
}

.swiper {
    width: 80%;
    max-height: 500px;
}

.swiper-slide{
    height: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.swiper-slide picture{
    height: 100%;
    border-radius: 30px;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.swiper-slide img{
    height: 100%;
    /* object-fit: contain; */
}