/* style reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* initial variables */

:root{
    --card-placer-padding-top: 20px;
    --card-container-max-width: 100%;
    --card-width: 300px;
    --card-height: 500px;
    --card-border: 1px solid #000;
    --card-gap-col: 20px;
    --card-gap-row: 20px;
    --card-border-radius: 20px;
    /* card items option */
    --item-border-radius: 10px;
    /* Card Styles */
    /* Style-1 */
    --style-1-background-color: transparent;
    /* Style-2 */
    --style-2-background-color: transparent;
    /* Style-3 */
    --style-3-background-color: transparent;
}

.card-placer{
    display: flex;
    justify-content: center;
    padding-top: var(--card-placer-padding-top);
}

.card-container{
    max-width: var(--card-container-max-width);
    display: grid;
    grid-template-columns: repeat( auto-fit, var(--card-width) );
    column-gap: var(--card-gap-col);
    row-gap: var(--card-gap-row);
}

.card{
    /* total options */
    width: var(--card-width);
    height: var(--card-height);
    border: var(--card-border);
    border-radius: var(--card-border-radius);
    /* inside option */
    display: grid;
    padding: 10px;
    gap: 5px;

    grid-template-rows: max-content; /* height for Card Title */
    grid-auto-rows: 1fr;
    grid-template-columns: 1fr 1fr;
}

/* Card Title */
.card > .card-title{
    font-size: 1.5em;
    padding: 5px;
    grid-column: span 2;
    text-align: center;
}

.card > .item{
    display: flex;
    flex-direction: column;
    border: var(--card-border);
    border-radius: var(--item-border-radius);
    overflow: hidden;
}

.card > .item > .info-container{
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.info-container input, .price{
    width: 100%;
    font-size: 1.3em;
    text-align: center;
    border-style: none;
}

.card > .item > label {
    position: relative;
    text-align: left;
    height: 0px;
    top: 3px;
    margin-left: 3px;
    margin-right: 3px;

    color: grey;
}

.card > .item > label.right{
    text-align: right;
}

.card > .item > label.center{
    text-align: center;
}

.card > .item > label.label-center{
    text-align: center;
}

.item .currency{
    display: flex;
    height: 100%;
    width: 50px;
    z-index: 1;
    background-color: darkgray;
    text-align: center;
    justify-content: center;
    border-radius: var(--item-border-radius);
}

.item .currency.left{
    margin-right: -50px;
}

.item .currency.right{
    margin-left: -50px;
}

.item .currency.center{
    width: 100%;
    height: 20px;
    margin-top: -20px;
    border-radius: 0;
}

.item .long-text{
    height: 70%;
    width: 100%;
    text-align: center;
    align-content: center;
    resize: none;
    border-style: none;
    font-size: 1.3em;
}

.card-style-1 .currency.center{
    display: none;
}

.item .currency p{
    align-self: center;
    color: #fff;
    font-size: 1.3em;
}

.item .currency.center p{
    font-size: 1em;
}

/* Card Style №1 */
.card-style-1{
    background-color: var(--style-1-background-color);
}

.card-style-1 .item{
    grid-column: span 2;
}

/* Card Style №2 */
.card-style-2{
    background-color: var(--style-2-background-color);
}

/* Card Style №3 */
.card-style-3{
    background-color: var(--style-3-background-color);
}

.card-style-3 > .item-3{
    grid-column: span 2;
}

.card-style-3 > .item-6{
    display: none;
}